
.background-image 
{
    background-image: url('https://cdn.wallpapersafari.com/33/14/60G4Fk.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}


